# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE/editor
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Logs
*.log
