# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE/editor
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Logs
*.log

#Media
.vehicle_media

node_modules/
cloudflare/r2-upload-worker/node_modules/

r2_worker_test.txt


# Media uploads
vehicle_media/
media/

# Node
node_modules/
cloudflare/r2-upload-worker/node_modules/

# Temporary test files
r2_worker_test.txt
